@page "/funds"
@inject IEdgarRepository EdgarRepository

<RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
    <h1>Funds & Filings</h1>
    <p>Understand holding changes over time</p>
    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
        <RadzenDropDown Data="entities"
            TextProperty="@nameof(SECEntity.Name)"
            ValueProperty="@nameof(SECEntity.CIK)"
            TValue="SECEntity"
            Multiple="false"
            Placeholder="SEC Entity..."
            Change="@(cik => HandleSelectSECEntityChange((string)cik))"
        />
        <RadzenDropDown Data="funds"
            TextProperty="@nameof(SeriesClass.Name)"
            ValueProperty="@nameof(SeriesClass.CompositeKey)"
            TValue="SeriesClass"
            Multiple="false"
            Placeholder="Fund..."
            Change="@(compositeKey => HandleSelectFund((string)compositeKey))"
        />
        <RadzenDropDown Multiple="false"
            Data="fundClasses"
            TValue="string"
            Placeholder="Fund class..."
        />
        <RadzenButton Icon="clear" ButtonStyle="@ButtonStyle.Danger" Text="Clear settings" />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenCard Style="width: 65%; height: 300px;">
            <RadzenDataGrid Data="filingsForFund"
                Style="height: 260px;"
                SelectionMode="DataGridSelectionMode.Single"
            >
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.FilingId)"
                        Title="Filing ID"
                        Filterable="false"
                    />
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.ReportingPeriodEnd)"
                        Title="Filing Date"
                        Filterable="false"
                    />
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.TotalAssetsValue)"
                        Title="Assets"
                        Filterable="false"
                        FormatString="${0:N2}"
                    >
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.TotalLiabilitiesValue)"
                        Title="Liabilities"
                        Filterable="false"
                        FormatString="(${0:N2})"
                    />
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
        <RadzenCard Style="width: 35%;">
            <RadzenStack Orientation="Orientation.Vertical" Gap="0rem">
                <h3>As-of Last Filing</h3>
                <hr />
                <b>Total Assets:</b>
                <b>Total Liabilities:</b>
                <b>Net Value:</b>
                <span><b>7</b> securities held</span>
            </RadzenStack>
        </RadzenCard>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenCard Style="width: 100%">
            <RadzenTabs RenderMode="TabRenderMode.Client">
                <Tabs>
                    <RadzenTabsItem Icon="insert_chart" Text="Holdings">

                    </RadzenTabsItem>
                    <RadzenTabsItem Icon="data_usage" Text="Securities breakdown"></RadzenTabsItem>
                    <RadzenTabsItem Icon="area_chart" Text="Over time"></RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenCard>
    </RadzenStack>
</RadzenStack>

@code {
    private List<SECEntity> entities = new();
    private List<SeriesClass> funds = new();
    private List<string> fundClasses = new();
    private List<NPORTFiling> filingsForFund = new();

    private string _selectedCik = string.Empty;

    protected override void OnInitialized()
    {
        entities = EdgarRepository.LoadSECEntities();
    }

    private void HandleSelectSECEntityChange(string cik)
    {
        _selectedCik = cik;
        funds = EdgarRepository.LoadFunds(cik);
    }

    private void HandleSelectFund(string compositeKey)
    {
        filingsForFund = EdgarRepository.LoadFilings(_selectedCik, compositeKey);
    }
}