@page "/funds"
@inject IEdgarRepository EdgarRepository

<RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
    <h1>Funds & Filings</h1>
    <p>Understand Fund make-up and holding changes over time</p>
    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
        <RadzenDropDown Data="_entities"
            TextProperty="@nameof(SECEntity.Name)"
            ValueProperty="@nameof(SECEntity.CIK)"
            TValue="SECEntity"
            Multiple="false"
            Placeholder="SEC Entity..."
            @bind-Value="@_selectedEntity"
            Change="HandleSelectSECEntityChange"
        />
        <RadzenDropDown Data="_funds"
            TextProperty="@nameof(SeriesClass.Name)"
            ValueProperty="@nameof(SeriesClass.CompositeKey)"
            TValue="SeriesClass"
            Multiple="false"
            Placeholder="Fund..."
            @bind-Value="@_selectedFund"
            Change="HandleSelectFund"
        />
        <RadzenDropDown Multiple="false"
            Data="_fundClasses"
            TValue="string"
            Placeholder="Fund class..."
        />
        <RadzenButton Icon="clear"
            ButtonStyle="@ButtonStyle.Danger"
            Text="Clear settings"
            Click="ClearSettings"
        />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenCard Style="height: 300px; width: 65%;">
            <RadzenDataGrid Data="_filingsForFund"
                TItem="NPORTFiling"
                Style="height: 260px;"
                SelectionMode="DataGridSelectionMode.Single"
                RowSelect="HandleSelectFiling"
            >
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.FilingId)"
                        Title="Filing ID"
                        Filterable="false"
                    />
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.SeriesClassCompositeKey)"
                        Title="Class"
                        Filterable="false">
                        <Template Context="filing">
                            @filing.SeriesClassCompositeKey.Split("-")[1]
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.ReportingPeriodEnd)"
                        Title="Filing Date"
                        Filterable="false"
                    >
                        <Template Context="filing">
                            @filing.ReportingPeriodEnd.Date.ToShortDateString()
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.TotalAssetsValue)"
                        Title="Assets"
                        Filterable="false"
                        FormatString="${0:N2}"
                    >
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.TotalLiabilitiesValue)"
                        Title="Liabilities"
                        Filterable="false"
                        FormatString="(${0:N2})"
                    />
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
        <RadzenCard Style="width: 35%; height: 300px;">
            <RadzenStack Orientation="Orientation.Vertical" Gap="0rem">
                <h3>As-of Last Filing</h3>
                <hr />
                <b>Total Assets:</b>
                <b>Total Liabilities:</b>
                <b>Net Value:</b>
                <span><b>7</b> securities held</span>
            </RadzenStack>
        </RadzenCard>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenCard Style="width: 100%">
            <h3>Holdings</h3>
            <hr />
            <RadzenTabs RenderMode="TabRenderMode.Client">
                <Tabs>
                    <RadzenTabsItem Icon="insert_chart" Text="Holdings">
                        <RadzenDataGrid Data="_holdingsForFiling"
                            TValue="FundHolding"
                            Style="height: 400px;"
                        >
                            <Columns>
                                <RadzenDataGridColumn Property="@nameof(FundHolding.LEI)"
                                    Title="LEI"
                                    Filterable="false"
                                />
                                <RadzenDataGridColumn Property="@nameof(FundHolding.SecurityName)"
                                    Title="Security"
                                    Filterable="false"
                                />
                                <RadzenDataGridColumn Property="@nameof(FundHolding.Balance)"
                                    Title="Balance"
                                    Filterable="false"
                                />
                                <RadzenDataGridColumn Property="@nameof(FundHolding.ValueUSD)"
                                    Title="Value"
                                    Filterable="false"
                                    FormatString="${0:N2}"
                                />
                                <RadzenDataGridColumn Property="@nameof(FundHolding.PercentOfHoldings)"
                                    Title="Percent of Holdings"
                                    Filterable="false"
                                    FormatString="{0:F5}%"
                                />
                               <RadzenDataGridColumn Property="@nameof(FundHolding.AssetCategory)"
                                    Title="Category"
                                    Filterable="false"
                                />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Icon="data_usage" Text="Asset breakdown"></RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenCard>
        <RadzenCard Style="width: 100%">
            <h3>Over Time</h3>
            <RadzenTabs RenderMode="TabRenderMode.Client">
                <Tabs>
                    <RadzenTabsItem Icon="monitoring" Text="Value">

                    </RadzenTabsItem>
                    <RadzenTabsItem Icon="query_stats" Text="By Securities">

                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenCard>
    </RadzenStack>
</RadzenStack>

@code {
    private List<SECEntity> _entities = new();
    private List<SeriesClass> _funds = new();
    private List<string> _fundClasses = new();
    private List<NPORTFiling> _filingsForFund = new();
    private List<FundHolding> _holdingsForFiling = new();
    private SECEntity? _selectedEntity;
    private SeriesClass? _selectedFund;
    private NPORTFiling? _selectedFiling;

    protected override void OnInitialized()
    {
        _entities = EdgarRepository.LoadSECEntities();
    }

    private void ClearSettings()
    {
        _selectedEntity = null;
        _selectedFund = null;
        _selectedFiling = null;
    }

    private void HandleSelectSECEntityChange()
    {
        if (_selectedEntity is not null)
        {
            _funds = EdgarRepository.LoadFunds(_selectedEntity.CIK);
        }
    }

    private void HandleSelectFund()
    {
        if (_selectedEntity is not null && _selectedFund is not null)
        {
            _filingsForFund = EdgarRepository.LoadFilings(_selectedEntity.CIK, _selectedFund.CompositeKey);
        }
    }

    private void HandleSelectFiling()
    {
        if (_selectedEntity is not null && _selectedFund is not null && _selectedFiling is not null)
        {
            _holdingsForFiling = EdgarRepository.LoadHoldings(_selectedFiling.FilingId);
        }
    }
}