@page "/funds"
@inject IEdgarRepository EdgarRepository

<RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
    <h1>Funds & Filings</h1>
    <p>Understand Fund make-up and holding changes over time</p>
    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
        <RadzenDropDown Data="_entities"
            TextProperty="@nameof(SECEntity.Name)"
            ValueProperty="@nameof(SECEntity.CIK)"
            Multiple="false"
            Placeholder="SEC Entity..."
            @bind-Value="@_selectedEntityCik"
            Change="@(_ => HandleSelectSECEntityChange())"
        />
        <RadzenDropDown Data="_funds"
            TextProperty="@nameof(SeriesClass.Name)"
            ValueProperty="@nameof(SeriesClass.CompositeKey)"
            Multiple="false"
            Placeholder="Fund..."
            @bind-Value="@_selectedFundCompositeKey"
            Change="HandleSelectFund"
        />
        <RadzenDropDown Multiple="false"
            Data="_fundClasses"
            TValue="string"
            Placeholder="Fund class..."
        />
        <RadzenButton Icon="clear"
            ButtonStyle="@ButtonStyle.Danger"
            Text="Clear settings"
            Click="ClearSettings"
        />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenCard Style="height: 300px; width: 65%;">
            <RadzenDataGrid Data="_filingsForFund"
                Style="height: 260px;"
                SelectionMode="DataGridSelectionMode.Single"
                RowSelect="@((NPORTFiling f) => HandleSelectFiling(f))"
            >
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.FilingId)"
                        Title="Filing ID"
                        Filterable="false"
                    />
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.SeriesClassCompositeKey)"
                        Title="Class"
                        Filterable="false">
                        <Template Context="filing">
                            @* @filing.SeriesClassCompositeKey.Split("-")[1] *@
                            @filing.SeriesClassCompositeKey
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.ReportingPeriodEnd)"
                        Title="Filing Date"
                        Filterable="false"
                    >
                        <Template Context="filing">
                            @filing.ReportingPeriodEnd.Date.ToShortDateString()
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.TotalAssetsValue)"
                        Title="Assets"
                        Filterable="false"
                        FormatString="${0:N2}"
                    >
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="@nameof(NPORTFiling.TotalLiabilitiesValue)"
                        Title="Liabilities"
                        Filterable="false"
                        FormatString="(${0:N2})"
                    />
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
        <RadzenCard Style="width: 35%; height: 300px;">
            <RadzenStack Orientation="Orientation.Vertical" Gap="0rem">
                <h3>As-of Last Filing</h3>
                <hr />
                @if (_mostRecentFiling is not null)
                {
                        <div>
                            <span><b>@_mostRecentHoldingsForCurrentFund.Count</b> holdings found.</span>
                            <span><b>@String.Format("${0:N2}", _mostRecentFiling.TotalAssetsValue)</b> in assets</span>
                            <span><b>@String.Format("${0:N2}", _mostRecentFiling.TotalAssetsValue)</b> in liabilities</span>
                        </div>
                        <b></b>
                        <b>Net Value:</b>
                        <span><b>7</b> securities held</span>
                }
                else
                {
                        <p>Please select a fund to view recent records.</p>
                }
            </RadzenStack>
        </RadzenCard>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenCard Style="width: 100%">
            <h3>Holdings</h3>
            <hr />
            <RadzenTabs RenderMode="TabRenderMode.Client">
                <Tabs>
                    <RadzenTabsItem Icon="insert_chart" Text="Holdings">
                        @if (_holdingsForFiling.Any())
                        {
                                                <RadzenDataGrid Data="_holdingsForFiling"
                                                    TValue="FundHolding"
                                                    Style="height: 400px;"
                                                    IsLoading="_holdingsLoading"
                                                >
                                                    <Columns>
                                                        <RadzenDataGridColumn Property="@nameof(FundHolding.LEI)"
                                                            Title="LEI"
                                                            Filterable="false"
                                                        />
                                                        <RadzenDataGridColumn Property="@nameof(FundHolding.SecurityName)"
                                                            Title="Security"
                                                            Filterable="false"
                                                        />
                                                        <RadzenDataGridColumn Property="@nameof(FundHolding.Balance)"
                                                            Title="Balance"
                                                            Filterable="false"
                                                        />
                                                        <RadzenDataGridColumn Property="@nameof(FundHolding.ValueUSD)"
                                                            Title="Value"
                                                            Filterable="false"
                                                            FormatString="${0:N2}"
                                                        />
                                                        <RadzenDataGridColumn Property="@nameof(FundHolding.PercentOfHoldings)"
                                                            Title="Percent of Holdings"
                                                            Filterable="false"
                                                            FormatString="{0:F5}%"
                                                        />
                                                       <RadzenDataGridColumn Property="@nameof(FundHolding.AssetCategory)"
                                                            Title="Category"
                                                            Filterable="false"
                                                        />
                                                    </Columns>
                                                </RadzenDataGrid>
                        }
                        else
                        {
                                <p>Please select a filing to view holdings.</p>
                        }
                    </RadzenTabsItem>
                    <RadzenTabsItem Icon="data_usage" Text="Asset breakdown"></RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenCard>
        <RadzenCard Style="width: 100%">
            <h3>Over Time</h3>
            <RadzenTabs RenderMode="TabRenderMode.Client">
                <Tabs>
                    <RadzenTabsItem Icon="monitoring" Text="Value">

                    </RadzenTabsItem>
                    <RadzenTabsItem Icon="query_stats" Text="By Securities">

                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenCard>
    </RadzenStack>
</RadzenStack>

@code {
    private List<SECEntity> _entities = new();
    private List<SeriesClass> _funds = new();
    private List<string> _fundClasses = new();
    private List<NPORTFiling> _filingsForFund = new();
    private NPORTFiling? _mostRecentFiling = new();
    private List<FundHolding> _mostRecentHoldingsForCurrentFund = new();
    private List<FundHolding> _holdingsForFiling = new();
    private string _selectedEntityCik = string.Empty;
    private string _selectedFundCompositeKey = string.Empty;
    private string _selectedFilingId = string.Empty;
    private bool _holdingsLoading = false;

    protected override void OnInitialized()
    {
        _entities = EdgarRepository.LoadSECEntities();
    }

    private void ClearSettings()
    {
        _selectedEntityCik = string.Empty;
        _selectedFundCompositeKey = string.Empty;
        _selectedFilingId = string.Empty;

        _funds = new();
        _fundClasses = new();
        _filingsForFund = new();
        _holdingsForFiling = new();
        _mostRecentFiling = new();
        _mostRecentHoldingsForCurrentFund = new();
    }

    private void HandleSelectSECEntityChange()
    {
        if (!string.IsNullOrEmpty(_selectedEntityCik))
        {
            _funds = EdgarRepository.LoadFunds(_selectedEntityCik);
        }
    }

    private void HandleSelectFund()
    {
        if (!string.IsNullOrEmpty(_selectedEntityCik) && !string.IsNullOrEmpty(_selectedFundCompositeKey))
        {
            _filingsForFund = EdgarRepository.LoadFilings(_selectedEntityCik, _selectedFundCompositeKey);

            _mostRecentFiling = _filingsForFund.OrderByDescending(f => f.ReportingPeriodEnd)
                                            .ToList()
                                            .Take(1)
                                            .SingleOrDefault();
            if (_mostRecentFiling is not null)
            {
                _mostRecentHoldingsForCurrentFund = EdgarRepository.LoadHoldings(_mostRecentFiling.FilingId);
            }
        }
    }

    private void HandleSelectFiling(NPORTFiling filing)
    {
        _holdingsLoading = true;
        if (!string.IsNullOrEmpty(_selectedEntityCik) && !string.IsNullOrEmpty(_selectedFundCompositeKey) && filing is not null)
        {
            _holdingsForFiling = EdgarRepository.LoadHoldings(filing.FilingId);
        }
        _holdingsLoading = false;
    }
}